a{
    color:rgb(136, 136, 136)

}

a span{
    color:white
}


body {
    background-image: url("osubkgd.jpg");
    background-attachment: fixed; 
}
h1 {
    color: rgb(255, 255, 255);
    font-family: 'Gabriola';
}


p {
    color: rgb(131, 131, 131);
    font-family: 'Gabriola';
    font-size: 28px;

}

h3 {
    font-family: "Gabriola";
    font-size: 32px;
    
}


div.gallery {
    margin: 5px;
    float: center;
    width: 600px;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Gabriola';
    font-size: 20px;
    color: rgb(88, 88, 88)
}



